<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>DocShot - Headless Chrome Screenshot Example App</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css" rel="stylesheet" />
	<link href="//v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
	<style>
	</style>
</head>

<body>
	<div class="container">

		<form action="/getscreenshot" method="post" class="form-signin">
			<h4 class="form-signin-heading">Enter Site URL:</h4>
			<div class="form-group">
				<label for="url" class="sr-only">URL</label>
		    <input id="url" class="form-control" type="text" value="http://sega.com/" name="url" required autofocus>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Generate Screenshot</button>
			</div>
		</form>

    <!-- <form action="/getpdf" method="post" class="form-signin">
			<div class="form-group">
				<label for="url" class="sr-only">URL</label>
		    <input id="url" class="form-control" type="text" placeholder="https://github.com/" name="url" required autofocus>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Generate PDF</button>
			</div>
		</form> -->

    <p class="text-muted lead" style="text-align: center;">Some sites can take a wee bit to process, so be patient. 🙂</p>
    <p class="text-muted" style="text-align: center;">(Currently also a bit unstable on Heroku. Prepare for crashes!)</p>
	</div>

</body>

</html>
